@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --color-light-red: hsl(0, 100%, 67%);
  --color-orangey-yellow: hsl(39, 100%, 56%);
  --color-green-teal: hsl(166, 100%, 37%);
  --color-cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --color-light-slate-blue: hsl(252, 100%, 67%);
  --color-light-royal-blue: hsl(241, 81%, 54%);
  --color-pale-blue: hsl(221, 100%, 96%);
  --color-circle-violet-blue: hsla(256, 72%, 46%, 1);
  --color-circle-persian-blue: hsla(241, 72%, 46%, 0);

  --color-dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background: hsl(221, 100%, 96%);
}

/* styles.css */
.layout {
  @apply flex flex-col gap-4;
}

@media (max-width: 640px) {
  .layout {
    @apply h-full;
  }
}

@media (min-width: 1280px) {
  .layout {
    @apply flex-row gap-8 bg-white max-w-[700px] h-[490px] rounded-4xl;
  }
}

.result {
  @apply flex flex-col gap-2;
}

@media (min-width: 1280px) {
  .result {
    @apply max-w-[50%] rounded-4xl gap-10;
  }
}

.summary {
  @apply p-4;
}

@media (min-width: 1280px) {
  .summary {
    @apply w-full;
  }
}
